@import '../../constants/variables.module';
@import '../../constants/colors.module';

.Notification {
  height: $notification-height;
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.7rem;
  background-color: $primary-color;
  border: none;
  border: 1px solid $text-color;

  img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    width: 3rem;
  }

  &ContentWrapper {
    flex-grow: 1;
    width: calc(100% - 5rem - 20px);
    display: flex;
    flex-direction: column;
    max-height: 100%;

    .NotificationMessage {
      height: 75%;
      text-align: left;
      overflow: auto;
      word-break: break-word;

      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 8px;
        background-color: #e7e7e7;
        border: 1px solid #cacaca;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: $secondary-color;
      }
    }

    .NotificationDate {
      flex-grow: 1;
      color: lighten($color: $text-color, $amount: 25);
      text-align: left;
    }
  }

  .MarkAsReadButton {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $secondary-color;
    outline: none;
    border: none;
    z-index: 2;
  }
}

.Unread {
  background-color: darken($color: $primary-color, $amount: 10);
}
