@import '../../constants/variables.module';
@import '../../constants/colors.module';

.Notification {
  height: $notification-height;
  display: flex;
  gap: 1rem;
  max-height: 80px;
  padding: 0 1rem;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.7rem;
  background-color: $primary-color;
  border: none;
  border: 1px solid $text-color;

  img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    width: 3rem;
  }

  &ContentWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .NotificationMessage {
      height: 75%;
      text-align: left;
    }

    .NotificationDate {
      flex-grow: 1;
      color: lighten($color: $text-color, $amount: 25);
      text-align: left;
    }
  }

  button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $secondary-color;
    outline: none;
    border: none;
  }
}

.Unread {
  background-color: darken($color: $primary-color, $amount: 10);
}
