@import '../../constants/colors.module';

.Drawer {
  &Trigger {
    background-color: $secondary-color;
    color: $primary-color;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 0.5rem;
  }

  &Title {
    color: $secondary-color;
  }

  &Submit {
    width: fit-content;
    align-self: center;
  }
}

.Ui {
  width: 100%;
  padding: 1rem;
  border: 2px solid $secondary-color;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  &Element {
    justify-content: center;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 1rem;
    width: 30%;

    &:nth-of-type(2) {
      border-right: 1px solid $secondary-color;
      border-left: 1px solid $secondary-color;
    }

    h2 {
      width: 100%;
      text-align: center;
    }

    label {
      width: 80%;
    }

    input[type='checkbox'] {
      width: 20%;
      height: 24px;
    }

    input[type='file'] {
      width: 100%;
    }

    textarea {
      width: 100%;
      height: 70%;
      padding: 0.4rem;
      resize: none;
      border: 1px solid $text-color;
    }

    img {
      height: 250px;
      max-width: 100%;
      object-fit: cover;
      border-radius: 50%;
      background-color: $primary-color;
    }
  }

  .AddButton {
    width: 40%;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
}
